label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"] {
    width: calc(33.33% - 14px);
}

input[type="date"],
input[type="time"] {
    width: calc(33.33% - 10px);
}

input[type="text"],
input[type="date"],
input[type="time"] {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #81c9ff;
}

body {
    font-family: Arial;
    background: linear-gradient(to right, #155799, #159957);
    color: whitesmoke;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    color: whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 64%;
    padding: 20px;
}

input[type="submit"] {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(to right, #00b0ff, #0091ea);
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #c0c0c0;
    cursor: pointer;
}
      
input[type="submit"]:hover {
    background: linear-gradient(to right, #0091ea, #00b0ff);
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.button-row input[type="button"] {
    margin-right: 0;
}

input[type="button"] {
    margin-right: 14px;
    width: 98%;
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(to right, #00b0ff, #0091ea);
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #c0c0c0;
    cursor: pointer;
}
    
input[type="button"]:hover {
    background: linear-gradient(to right, #0091ea, #00b0ff);
}